<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>MVC | node.js</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
    
    body {
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    }
  </style>
</head>

<body>
  
  <div class="message" style="width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;">
    This is the layout page
  </div>
  </html>